<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Aluno-turma</title>
</head>
<body>
    <h1>CRUD de Aluno turma</h1>

    <form action="/editar_aluno_turma" method="POST">
        <label for="aluno">Aluno:</label>
        <select id="aluno" name="aluno" required>
            <% alunos.forEach(function(aluno) { %>
            <option value="<%= aluno.id_aluno %>" data-id="<%= aluno.id_aluno %>">
                <%= aluno.id_aluno %>
            </option>
            <% }); %>
        </select>
        <br />

        <label for="turma">Turma:</label>
        <select id="turma" name="turma" required>
            <% turmas.forEach(function(turma) { %>
            <option
                value="<%= turma.id_turma %>"
                data-id="<%= turma.id_turma %>">
                <%= turma.id_turma %>
            </option>
            <% }); %>
        </select>
        <br />

        <button type="submit" name="action" value="alterar">Alterar</button>
        <button type="submit" name="action" value="incluir">Incluir</button>
        <input type="hidden" id="id_aluno" name="id_aluno" />
        <input type="hidden" id="id_turma" name="id_turma" />
    </form>

    <h2>Associações de aluno e turma</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Turma</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% Ass_Aluno_turmaVWs.forEach(function(Ass_Aluno_turmaVWs) { %>
            <tr>
              <td><%= Ass_Aluno_turmaVWs.id_aluno %></td>
              <td><%= Ass_Aluno_turmaVWs.id_turma %></td>
              <td>
                  <button
                    onclick="preencherFormulario ('<%= Ass_Aluno_turmaVWs.id_aluno%>', '<%= Ass_Aluno_turmaVWs.id_turma %>')"
                  >
                    Editar
                  </button>

                  <form
                    action="/excluir_aluno_turma/<%= Ass_Aluno_turmaVWs.id_aluno %>/ <%= Ass_Aluno_turmaVWs.id_turma %>"
                    method="POST"
                  >
                      <button type="submit">Excluir</button>
                  </form>
              </td>
            </tr>
           <% }); %>
        </tbody>
    </table>

    <script>

        function getAlunoNome(id_aluno) {
          const alunos = "<%= JSON.stringify(alunos) %>";
          const aluno = alunos.find((a) => a.id_aluno === id_aluno);
          return aluno ? aluno.nome_aluno : "Aluno não encontrado";
        }

        function getTurma(id_turma) {
            const turmas = "<%= JSON.stringify(turmas) %>";
            const turma = turma.find(
              (t) => t.id_turma === id_turma
            );
            return turma ? turma.id_turma : "Turma não encontrada";
        }

        function preencherFormulario(alunoId, turmaId) {
            document.getElementById("aluno").value = alunoId;
            document.getElementById("turma").value = turmaId;
        }
    </script>
</body>
</html>